---
name: Solc

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  solc:
    name: Build with Solc
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Install Solc
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y software-properties-common
          sudo add-apt-repository -y ppa:ethereum/ethereum
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y solc=1:0.8.30-0ubuntu1~noble
          if sudo apt-get -s upgrade solc | tee -a /dev/stderr | grep -q -e '^Inst solc '; then
            exit 1
          fi
      - name: Install Slither
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          pipx ensurepath
          pipx install slither-analyzer==0.11.3
          if pipx upgrade slither-analyzer | tee -a /dev/stderr | grep -q -e '^upgraded '; then
            exit 1
          fi
      - name: Run Slither
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          find . -name '*.sol' -type f -print -exec slither {} \;
      - name: Build
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          find . -name '*.sol' -type f -print -exec solc {} \;
